/*
Hide toggle in small viewports
 */
@media (max-width: 996px) {
  .toggle {
    display: none;
  }
}

.navbarHideable {
  transition: transform var(--ifm-transition-fast) ease;
}

.navbarHidden {
  transform: translate3d(0, calc(-100% - 2px), 0);
}

.navbarSidebarToggle {
  margin-right: 1rem;
}
