/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* custom styls config */
/* custom header */
.header-link {
  font-weight: bold;
  margin-right: 16px;
}

.header-outline-button {
  font-weight: bold;
}

@media screen and (min-width: 996px) {
  .header-outline-button {
    padding: 8px 16px !important;
    border: 1px solid #010e29;
    border-radius: 4px;
    line-height: 16px;
    font-size: 14px;
  }

  .header-outline-button:hover {
    border-color: #25c2a0;
  }
}

.navbar__item-github-star {
  margin-top: 8px;
  margin-right: 16px;
}

.navbar__logo {
  height: 20px;
}

@media screen and (min-width: 996px) {
  .navbar__logo {
    height: 32px;
  }

  .navbar__item-search-wrapper {
    display: none;
  }
}

/* custom markdown */

.theme-doc-markdown h1:first-child {
  font-size: 40px;
}

/* custom footer */
.footer {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  border-top: 1px solid #c2c8d0;
  padding: 16px 16px 0 16px;
}

.footer .socials {
  display: flex;
}

.footer .socials li {
  list-style-type: none;
}

.footer .social-icon path {
  fill: #010e29;
}

.social-icon:hover path {
  fill: #25c2a0;
}

.footer__logo {
  margin-top: 8px;
  height: 20px;
}

.footer__links {
  margin-bottom: 0;
  text-align: start;
}

.footer__link-item {
  font-weight: bold;
  margin-right: 16px;
  padding: 8px 16px;
  color: #1c1e21;
}

.footer__content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__content-top .container {
  flex-grow: 1;
}

.footer__content-top .navs-desktop {
  display: none;
}

.footer .socials {
  margin-bottom: 0;
}

.footer .socials li {
  margin-left: 16px;
}

.footer__content-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.footer__content-bottom .copyright-section {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.copyright-section .rectangle {
  width: 59px;
  height: 59px;
}

.footer__copyright {
  margin-bottom: 0;
  font-size: 12px;
  margin-left: 8px;
}

.rectangle-2 path {
  fill: #1aabfd;
}

.navs-mobile {
  padding: 0;
}

.navs-mobile .simple-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 144px;
}

@media screen and (min-width: 996px) {
  .footer__logo {
    height: 32px;
  }

  .footer__content-top .navs-desktop {
    display: block;
  }

  .footer__content-bottom .navs-mobile {
    display: none;
  }

  .footer__content-bottom {
    flex-direction: row;
  }

  .footer-links {
    margin-left: 20px;
  }

  .footer__content-bottom .copyright-section {
    flex-grow: 1;
  }

  .copyright-section .rectangle {
    width: 148px;
    height: 148px;
  }

  .footer__copyright {
    margin-bottom: 36px;
    margin-left: 16px;
  }
}

/* custom search bar styles */
.DocSearch-Button-Keys {
  display: none;
}

/* contributor section */
.contributor-wrapper {
  margin-top: 16px;
}

.contributor-list-wrapper {
  display: flex;
  align-items: center;
}

.contributor-item {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-shadow: rgba(27, 31, 36, 0.15) 0px 0px 0px 1px;
  margin-right: 8px;
  overflow: hidden;
}

.contributor-item img {
  width: 100%;
  height: 100%;
}
